<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

<div ng-app="listpageApp" ng-controller="listpageCtrl"> 

<button ng-click="listAnimals()">List animals</button> <button ng-click="logout()">Log Out</button>

<table>
  <tr ng-hide="showAnimalTableHeader"> 
  	<td>Species</td>
  	<td>Breed</td>
  	<td>Sex</td>
  	<td>Age</td>
  	<td>Color</td>
  	<td>Volume</td>
  	<td>Weight</td>
  	<td>Favourite_meal</td>
  	<td>Hobby</td>
  	<td>Is_available</td>
  	<td>Is_broken</td>
  	<td>Picture</td>
  	<td>Rent/Bring Back</td>
  </tr>
  <tr ng-repeat="a in animals">
    <td>{{ a.species }}</td>
    <td>{{ a.breed }}</td>
    <td>{{ a.sex }}</td>
    <td>{{ a.age }}</td>
    <td>{{ a.color }}</td>
    <td>{{ a.volume }}</td>
    <td>{{ a.weight }}</td>
    <td>{{ a.favourite_meal }}</td>
    <td>{{ a.hobby }}</td>
    <td>{{ a.is_available }}</td>
    <td>{{ a.is_broken }}</td>
    <td>{{ a.picture }}</td>
    <td><button ng-click="logout()" ng-disabled="isRentDisabled(a.is_available, a.is_broken, a.owner)">{{genButtonName(a.owner)}}</button></td>
  </tr>
</table>

</div>

<script src = "listpage.js"></script>

</body>
</html>