<!DOCTYPE html>
<html>
<head>
<head lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

<div ng-app="listpageApp" ng-controller="listpageCtrl"> 

<div class = "page-header" style="background-color: #e0e0d1">  
   <div class="row">
   <div class="col-md-offset-1 col-md-9">
    <h1>
      Animals 
      <small>You can search, rent, and bring them back.</small>
    </h1> 
    
    </div>
    <div class="col-md-offset-1">
        <button class="btn btn-danger" ng-click="logout()" style="margin-top: 25px">
            <span class="glyphicon glyphicon-log-out"></span>  Log Out
        </button>
    </div>  
    </div>   
</div>

<br>

<center> 
<form class="form-inline">
  <div class="form-group">
    <button class="btn btn-primary" ng-click="listAnimals()" style="margin-bottom: 5px; margin-right: 15px; width: 120px">List animals</button>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" ng-click="searchAnimals()" style="margin-bottom: 5px; margin-right: 15px; width: 120px">Search</button>
  </div>
  <div class="form-group">
    <label for="inputSpecies">Species: </label>
    <input type="text" class="form-control" id="inputSpecies" ng-model="species" placeholder="Species" style="margin-right: 15px"></input>
  </div>
  <div class="form-group">
    <label for="inputBreed">Breed: </label>
    <input type="text" class="form-control" id="inputBreed" ng-model="breed" placeholder="Breed" style="margin-right: 15px"></input>
  </div>
  <div class="form-group">
    <label for="cbAvailable">Is Available: </label>
    <input type="checkbox" id="cbAvailable" ng-model="cbIsAvailable" ng-true-value="'Y'" ng-false-value="'N'" style="margin-right: 15px"></input>
  </div>
  <div class="form-group">
    <label for="cbBroken">Is broken: </label>
    <input type="checkbox" id="cbBroken" ng-model="cbIsBroken" ng-true-value="'Y'" ng-false-value="'N'" style="margin-right: 15px"></input>
  </div>
</form>
</center>

<br>

<table class="table table-striped table-hover">
  <thead ng-show="showAnimalTableHeader"> 
  	<th>Species</th>
  	<th>Breed</th>
  	<th>Sex</th>
  	<th>Age</th>
  	<th>Color</th>
  	<th>Volume</th>
  	<th>Weight</th>
  	<th>Favourite_meal</th>
  	<th>Hobby</th>
  	<th>Is_available</th>
  	<th>Is_broken</th>
  	<th>Picture</th>
  	<th>Rent/Bring Back</th>
  </thead>
  <tr ng-repeat="a in animals">
    <td>{{ a.species }}</td>
    <td>{{ a.breed }}</td>
    <td>{{ a.sex }}</td>
    <td>{{ a.age }}</td>
    <td>{{ a.color }}</td>
    <td>{{ a.volume }}</td>
    <td>{{ a.weight }}</td>
    <td>{{ a.favourite_meal }}</td>
    <td>{{ a.hobby }}</td>
    <td>{{ a.is_available }}</td>
    <td>{{ a.is_broken }}</td>
    <td>{{ a.picture }}</td>
    <td><button class="btn btn-default {{determineButtonType(a.owner)}}" ng-click="rentOrBringback(a.owner, a.id)" ng-disabled="isRentDisabled(a.is_available, a.is_broken, a.owner)">{{genButtonName(a.owner)}}</button></td>
  </tr>
</table>

</div>

<script src = "listpage.js"></script>

</body>
</html>